/*Cabezera*/

.navbar-header .navbar-brand .imgwrapper,
.navbar-header .navbar-brand h2{
	display: inline-block;
	vertical-align: top;
}

.imgwrapper{
	background-color: #fff;
	
	border-radius: 50%;
	border: 5px solid;
	height: 104px;
	margin-left: 20px;
	overflow: hidden;
	border-color: #fff #284E7F #284E7F #fff;
	transform:rotate(45deg);
	width: 104px;
}

.imgwrapper .img-responsive{
	transform:rotate(-45deg);
}

.navbar-fixed-top{
	/*background-color: #1E90FF;*/
	background-color: #284E7F;
	height: 54px;
}

.navbar-collapse.collapse.in{
	background-color: #284E7F !important;
}

.navbar-collapse.collapse.in .dropdown-menu{
	background-color: #fff !important;
}

header ul.navbar-nav > li{
	background-color: #284E7F;

}

header ul.navbar-nav > li:hover{
	background-color: #4682B4;
	border-bottom: 4px solid crimson;
}

ul.navbar-nav a{
	color: #cffff2 !important;
	font-size: 18px;
}

ul.navbar-nav #nav-li > a:hover{
	color: #fff !important;
}

ul.navbar-right .dropdown-toggle{
	color: #cffff2 !important;
}

ul.navbar-right .dropdown-toggle:focus{
	background-color: #4682B4 !important;
}

.navbar-login
{
    margin: auto;
    padding-bottom: 0px;
    padding: 10px;
    width: 250px;
}

.navbar-login-session
{
    margin: auto;
    padding-bottom: 0px;
    padding-top: 0px;
    padding: 10px;
}

.col-md-12 p{
	text-align: center;
}

.icon-size
{
    font-size: 87px;
}

.container-fluid .breadcrumb{
	margin-top: 5px;
	margin-left: 100px;
	padding-left: 45px;
}


/*Survey Section*/

.survey-section{
	margin-top: 150px;
}

.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}



/*Table Surver-Avalaible*/

.surver-section .panel-body .container-fluid{
	width: 100%;
}

.custyle{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}


/*Footer*/
footer{
   background-color: #424558;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}